.box-orange{
    width: 200px;
    height: 200px;
    background-color: orange;
}
.box-green{
    width: 200px;
    height: 200px;
    background-color: green;
}
.box-blue{
    width: 200px;
    height: 200px;
    background-color: blue;
}